<div class="page-header">
  <h3>User #<%= @user.id %></h3>
</div>



<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Username</dt>
      <dd><%= @user.username %></dd>
      <dt>Favorites</dt>
      <dd><ul class="list-group">
      <% @user.favorites.each do |favorite| %>
      <li class="list-group-item">
      <%= favorite.dish.name %> at <%= favorite.venue.name %>
      </li>
      <% end %>
      </ul>
      </dd>
      </dl>
      </div>

<div class="page-header">
  <h3>Add Favorite</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_favorite" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for user_id -->
      <div class="form-group">
        <label for="user_id" class="control-label">
          User
        </label>
       <%= select_tag(:user_id, options_from_collection_for_select(User.all, :id, :name, @favorite), :class => "form-control") %>
      </div>

      <!-- Label and input for dish_id -->
      <div class="form-group">
        <label for="dish_id" class="control-label">
          Dish
        </label>
       <%= select_tag(:dish_id, options_from_collection_for_select(Dish.all, :id, :name, @favorite.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for venue_id -->
      <div class="form-group">
        <label for="venue_id" class="control-label">
          Venue
        </label>
       <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name, @favorite.user_id), :class => "form-control") %>
      </div>

      <!-- Label and input for notes -->
      <div class="form-group">
        <label for="notes" class="control-label">
          Notes
        </label>
        <textarea id="notes" name="notes" placeholder="Notes" class="form-control" rows="3"><%= @favorite.notes %></textarea>
      </div>

      <button class="btn btn-success">
        Create Favorite
      </button>

    <div class="btn-group btn-group-justified">
      <a href="/users" class="btn btn-primary">
        Back
      </a>
      <a href="/users/<%= @user.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_user/<%= @user.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
